<footer class="footer">
    <div class="footer-content">
      <div class="footer-links">
        <a routerLink="/home" class="footer-link">Accueil</a>
        <a routerLink="/about" class="footer-link">À propos</a>
        <a routerLink="/contact" class="footer-link">Contact</a>
        <a routerLink="/legal" class="footer-link">Mentions légales</a>
      </div>
      <div class="footer-contact">
        <p>Contactez-nous : <a href="mailto:contact@votre-site.com">contact&#64;wytness.fr</a></p>
      </div>
    </div>
    <div class="footer-credit">
      <p>&copy; 2024 Votre Site - Tous droits réservés.</p>
    </div>
</footer>
